
/* files */
@import './components/landing.css';
@import './components/grids.css';
@import './components/info.css';
@import './components/footer.css';
@import './components/back-to-top.css';
@import './components/navbar/navbar.css';
@import './components/about.css';
@import './components/collections.css';
@import './components/faq.css';
@import './components/gallery.css';

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

/* reset margin and padding for all elements from project */
* { 
  margin: 0;
  padding: 0;
}

body {
  /* define variables */
  --background:#1b1b1b; /* dark black */
  --background-gray:rgba(255, 255, 255, 0.4); /* dark black */
  --text-gray: #464a4d; /* dark gray */
  --text-normal: #fefefe; /* white */
  --border-gray: rgba(255, 255, 255, 0.8);
  --purple: #7525f6; /* purple - used for border / text color etc */

  /* style */
  background-color: var(--background);
  color:var(--text-gray);

  /* font */
  font-family: 'Montserrat', sans-serif;
}

/* general settings */
.container {
  padding: 0 2rem;
}

a {
  text-decoration: none;
  letter-spacing: 1.5px;
  color: var(--text-normal);
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
}

.trapezoid {
  margin: 0.09rem 0 0.35rem;
  width: 71px;
  height: 10px;
  opacity: 1;
  background: var(--text-gray);
  transform: perspective(2px) rotateX(-1deg);
}

.flex-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4rem 0;
}

.flex-cards {
  display: flex;
  flex-direction: row;
  margin-top: 3.5rem;
 }

@media (max-width:801px) {
  .flex-cards {
    flex-direction: column;
  }
}

