<footer class="footer container" id="footer">
    <a class="back-to-top" href="#header" title="Click pentru a merge sus">
        <div class="first-block"></div>
        <div class="triangle"></div>
        <div class="second-block"></div>
    </a>

    <address class="address">
        <span class="email">
        Email: <a href="mailto:webmaster@dumitracheflorentincristian@gmail.com">Dumitrache Florentin-Cristian</a> <br>
        </span>
        <span class="phone">
        Phone: <a href="tel:0766416074">+40766 416 074</a> <br>
        </span>
        <span class="my-address">
        Address: <a href="https://goo.gl/maps/kKEjezM3yRasDGrK6">Faculty of Matematics And Computer Science</a> <br>
        </span>
        <a href="https://api.whatsapp.com/send?phone=0766416074" class="wapp">Send Message</a>
    </address>

    <small class="copyright">Copyright &copy; <time datetime="2022-10-26 12:00">Dumitrache Florentin-Cristian</time>. All rights reserved.</small>
</footer>