.about .about__cards .about__card {
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.about .about__cards .about__card .description {
 margin: 1rem auto;
 width: 70%;
}