#grid-galerie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#grid-galerie figure {
  height: 125px;
  margin: 0 1rem;
}

#galerie-statica h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

figcaption {
  display: none;
}