.second-zone { grid-area: table; }
.third-zone { grid-area: top-left; }
.fourth-zone { grid-area: bottom-left; }

.grid-container {
  display: grid;
  grid-template-areas:
    'top-left top-left top-left table table'
    'bottom-left bottom-left bottom-left table table';
  gap: 1rem;
  margin: 1rem 0;
}

.grid-container > div {
  background-color: var(--border-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-size: 2rem;
}

.second-zone {
  padding-bottom: 1.5rem !important;
}

/* second zone */
#customers {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  border-spacing: 0 1rem;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 0.25rem;
  font-size: 1.25rem;
}

#customers tr:hover {
  box-shadow: 10px 10px 10px var(--purple) inset;
  transition: box-shadow 0.5s ease-in-out;
}

#customers th {
  text-align: left;
  background-color: var(--purple);
  color: white;
  font-size: 1.4rem;
}

#customers caption {
  border-top: 0.5rem solid white;
}

#customers thead {
  border-bottom: 0.5rem solid white;
}

#customers tbody tr:nth-child(odd) {
  border-bottom: 0.25rem solid green;
}

#customers tbody tr:nth-child(even) {
  border-bottom: 0.25rem solid red;
}

@media (max-width:801px) {
  .grids .third-zone, .grids .fourth-zone {
    font-size: 1.75rem;
  }

  .grid-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width:600px) {
  .grids .third-zone, .grids .fourth-zone {
    font-size: 1.5rem;
  }

  #customers th {
    text-align: left;
    background-color: var(--purple);
    color: white;
    font-size: 1.25rem;
  }

  #customers td {
    font-size: 1rem;
  }
}

/* end second zone */